<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title></title>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        function logout() {
            location.href = "http://127.0.0.1:8080/logout";
        }

        function change_page() {
            location.href = "http://127.0.0.1:8080/add_profile";
        }

        function waitForElm(selector) {
            return new Promise(resolve => {
                if (document.querySelectorAll(selector)[0]) {
                    return resolve(document.querySelectorAll(selector));
                }

                const observer = new MutationObserver(mutations => {
                    if (document.querySelectorAll(selector)[0]) {
                        observer.disconnect();
                        resolve(document.querySelectorAll(selector));
                    }
                });

                // If you get "parameter 1 is not of type 'Node'" error, see https://stackoverflow.com/a/77855838/492336
                observer.observe(document.documentElement, {
                    childList: true,
                    subtree: true
                });
            });
        }

        waitForElm('#post').then((elms) => {
            for (let elm of elms) {
                console.log(elm)
                let posX = -1
                let diffX
                elm.addEventListener("dragstart", (e) => {
                    posX = e.pageX
                });
                elm.addEventListener("drag", (e) => {
                    if (e.pageX === 0) return;
                    diffX = Math.max(Math.min(100, e.pageX - posX), -100)
                    elm.style.transform = `rotate(${diffX / 400 * 90}deg)`
                    elm.style.marginLeft = `calc(${diffX / 4}px + 5%)`
                    if (diffX > 0) {
                        elm.querySelector('#red').style.opacity = `0`
                        elm.querySelector('#green').style.opacity = `${diffX / 2}%`
                    } else {
                        elm.querySelector('#green').style.opacity = `0`
                        elm.querySelector('#red').style.opacity = `${(-diffX) / 2}%`
                    }
                });
                elm.addEventListener("dragend", (e) => {
                    if (diffX > -75 && diffX < 75) {
                        elm.style.transform = `rotate(0deg)`
                        elm.style.marginLeft = `5%`
                    } else {
                        elm.parentNode.removeChild(elm);
                        if (diffX >= 75) {
                            $.post(`/contact/${elm.getElementsByTagName("*")[3].textContent}`, data => {
                            });
                        }
                    }
                })
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();

                    $('.file-upload-image').attr('src', e.target.result);
                    $('.file-upload-content').show();
                };
                console.log(input.files[0])
                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }

        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>