{% extends "base.html" %}

{% block content %}
<div style="width: 100vw; height: 100vh; display: flex;">
    <div style="width: 70%; height: 100%; border-right: gray solid 2px; background-color: #2e3440; position: relative;">
        <div class="container">
            <form action="/poimal" method="post">
                <input type="submit" value="Поймал">
            </form>
        </div>
        <header class="header" style="width: 98%">
            <table style="width: 50%; margin: auto;"></table>
        </header>

        <div id="gameField" class="gameField" draggable="false" style="width: 98%" ondragstart="return false">
            <img id="0" class="img cursorPointer">
            <img id="1" class="img cursorPointer">
            <img id="2" class="img cursorPointer">
            <img id="3" class="img cursorPointer">
            <img id="4" class="img cursorPointer">
            <img id="5" class="img cursorPointer">
        </div>

        <div id="gameOver" class="gameOver" style="width: 100%; position: absolute;">
            <div style="width: 100%; position: absolute">
                <h1 id="gameOverH1">Молодец!!!</h1>
                <p id="gameOverP"></p>
            </div>
        </div>

        <!-- <div style="display: none">
          <img src="pictures/0r.gif">
          <img src="pictures/1r.gif">
          <img src="pictures/2r.gif">
          <img src="pictures/3r.gif">
          <img src="pictures/4r.gif">
          <img src="pictures/5r.gif">
          <img src="pictures/skeleton_r.gif">
          <img src="pictures/skeleton_l.gif">
        </div> -->
    </div>
    <div style="position: relative; width: 30%; height: 100%; background-color: #2e3440;">
        <div style="display:flex; width: 100%; height: 20px; text-align: right; color: wheat; justify-content: right">
            <svg class="plus"
                 style="height: 100%; margin-right: 20px; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 300ms; --hover-transform: scale(1.2)"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" onclick="change_page()">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
                      fill="#f5deb3"></path>
            </svg>
            <svg class="plus"
                 style="color: rgb(245, 222, 179); height: 100%; margin-right: 5px; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 300ms; --hover-transform: scale(1.2)"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512" onclick="logout()">
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                      fill="#f5deb3"></path>
            </svg>
        </div>
        {% for file in files %}
        <div id="post"
             style="display: flex; align-items: flex-end;z-index:1; position: absolute; width: 90%; height:calc(100% - 40px); margin-left: 5%; margin-top: 5px; justify-content: center; background-color: wheat; border-radius: 20px;"
             draggable="true">
            <div id="green"
                 style="position: absolute; z-index:0; width: 100%; height: 100%; background-color: greenyellow; opacity: 0;"></div>
            <div id="red"
                 style="position: absolute; z-index:0; width: 100%; height: 100%; background-color: red; opacity: 0;"></div>
            <img style="position: absolute;z-index:-1; height:100%; pointer-events: none; user-select: none;"
                 src="{{ url_for('static', filename='upload/' + file[0])}}"/>
            <p style="font-size: 30px; color:white;-webkit-text-stroke: 1px black;">{{file[1]}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}